body {
    background: linear-gradient(90deg, #2b475c, #5a3f2a);
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login_container {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-container {
    width: 34%;
}

img {
    width: 100%;
    height: auto;
}

.glossy-box {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    color: white;
    font-size: 16px;
    text-align: center;
}
button {
    width: 40%;
    padding: 8px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
}

.login-button {
    background-color: rgba(0, 123, 255, 0.8); /* Blue shade */
    border: 1px solid rgba(0, 123, 255, 0.3);
}

.register-button {
    background-color: rgba(40, 167, 69, 0.8); /* Green shade */
    border: 1px solid rgba(40, 167, 69, 0.3);
}
.or {
    color: white;
    text-align: center;
}